.HomeSec3Con{
    background-color: rgb(34, 34, 34);
    padding-top: 10px;
    padding-bottom: 100px;
}

.Slide{
    text-align: center;
    position: relative;
}

.Slide img{
    width: 90%;
    border-radius: 50px;
    text-align: center;
}

.Slide .textCon {
    width: 90%;
    height: 28%;
    left: 5%;
    position: absolute;
    top: 550px; /* Adjust the top position as needed */
    background-color: rgba(0, 0, 0, 0.3); /* Set the background color and adjust the opacity as needed */
    border-radius: 50px; /* Add rounded corners if desired */
}

.Slide .textCon h1 {
    top: 500px; /* Adjust the top position as needed */
    left: 100px; /* Adjust the left position as needed */
    color: white; /* Set the text color */
    padding: 5px 10px; /* Add some padding around the text */
    border-radius: 5px; /* Add rounded corners if desired */
}

.Slide .textCon p {
    top: 570px; /* Adjust the top position as needed */
    left: 100px; /* Adjust the left position as needed */
    color: white; /* Set the text color */
    padding: 5px 10px; /* Add some padding around the text */
    border-radius: 5px; /* Add rounded corners if desired */
}