/* @keyframes gradientAniBack {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.HomeSec2Con{
    /* background: linear-gradient(-45deg, rgb(119, 119, 119), rgb(86, 86, 86), rgb(34, 34, 34));
    background-size: 400% 400%;
    animation: gradientAniBack 5s ease infinite; */
    background-color: rgb(34, 34, 34);
    /* margin-top: 1px; */
    padding-top: 70px;
    height: 400px;
    text-align: center;
}

.HS2heading{
    color: #ffffff;
    font-weight: 100;
    font-size: 50px;
}

.HS2body{
    color: #c9c9c9;
    font-size: 30px;
    line-height: 50px;
}

.whiteWord{
    color: #ffffff;
}

.joinLogoCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    font-size: 50px;
    color: #ffffff;
}

.joinLogo{
    padding-left: 20px;
}

@keyframes colorChanging {
    0%{
        color: #ffae00;
    }
    25%{
        color: #ff8c00;
    }
    50%{
        color: #ff4d00;
    }
    75%{
        color: #ff0000;
    }
    100%{
        color: #ffae00;
    }
}

.joinLogo:hover{
    animation: colorChanging 1s infinite;
}

.logSignButtonCon{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logSignButton{
    color: #ffffff;
    font-size: 20px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px #ffffff;
    border-radius: 50px;
}

.logSignButton:hover{
    color: #ffae00;
    cursor: pointer;
    border: solid 1px #ffae00;
}