.HomeSec1Con{
    background-color: rgb(70,70,70);
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 5px;
    padding-top: 100px;
    height: 400px;
    font-size: 50px;
    text-align: center;
}

.mainTagLine{
    margin-bottom: 30px;
}