.welcomeSecCon{
    background-color: #f5f5f7;
    height: 100vh;
    font-weight: 100;
    text-align: center;
}

.welcomeText{
    padding-top: 22%;
    font-size: 30px;
}

@keyframes openning {
    0% {
      transform: scale(0);
      color: #ffffff;
    }
    100% {
      transform: scale(1);
      color: rgb(70, 70, 70);
    }
}

@keyframes keeping {
    0%{
        color: #ffae00;
    }
    25%{
        color: #ff8c00;
    }
    50%{
        color: #ff4d00;
    }
    75%{
        color: #ff0000;
    }
    100%{
        color: #ffae00;
    }
}
  
.fIctText {
    font-size: 100px;
    animation: openning 1s forwards, keeping 2s infinite;
}