.navBar{
    background-color: rgb(70, 70, 70);
    width: 100%;
    padding-top: 1px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.navBarLeft{
    width: 50%;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 2px;
}

.navBarRight{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: right;
}

.navBarTab {
    color: white;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    overflow: hidden; /* Ensure the overflow is hidden */
    cursor: pointer;
}
  
.navBarTab::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}
  
.navBarTab:hover::after {
    width: 40%;
    height: 4px;
    border-radius: 10%;
}

.profileIcon{
    width: 35px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding-top: 4px;
    text-align: center;
    margin-top: 4px;
}

.profileIcon:hover{
    color: #ffffff;
    background-color: #ffaa00;
    transition: 500ms;
}